header {
    border-bottom: 1px solid #ededed;
    .header-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1207px;
        margin: 0 auto;
        padding: 11px 0 13px;
        .logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;
            text-decoration: none;
            img {
                width: 27.8px;
                height: 27.6px;
            }
            h1 {
                color: #4a494f;
                font-family: Poppins;
                font-size: 20px;
                font-weight: 700;
            }
        }
        .right-button {
            padding: 8px 16px;
            text-decoration: none;
            border: 1px solid var(--rolling-gray-300);
            border-radius: 6px;
            color: var(--rolling-gray-900);
            font-family: Pretendard;
            font-size: 16px;
            font-weight: 700;
        }
    }
}
